/* * * * * * * * * * * * * * * * * * * * * * * * * * *
  Global
* * * * * * * * * * * * * * * * * * * * * * * * * * */

* {
  font-family: helvetica;
}

a {
  text-decoration: none;
  color: black;
}

::selection {
  background: #ceb44c; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ceb44c; /* Gecko Browsers */
}

.app {
  max-width: 1300px;
  margin: auto;
}

@keyframes wipeLeft {
  from { margin-left: 100%; width: 100%; }
  to   { margin-left: 0%; width: 100%;}
}


.wipeLeft {
  animation-name: wipeLeft;
  animation-duration: 2s;
}

@keyframes wipeRight {
  from { margin-right: 100%; width: 100%; }
  to   { margin-right: 0%; width: 100%;}
}


.wipeRight {
  animation-name: wipeRight;
  animation-duration: 2s;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * *
  Header
* * * * * * * * * * * * * * * * * * * * * * * * * * */
.header {
    background-color: #333;
    padding: 10px;
}

.header-title {
  vertical-align: middle;
  margin: auto;
  display: inline-block;
  margin-right: 10px;
}

.header-item {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    transform: translateY(5px);
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.header-item:hover {
    background-color: white;
    color: black;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * *
  Container
* * * * * * * * * * * * * * * * * * * * * * * * * * */
.container {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  width: 100%;


}

.container-inner {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 30px;
  z-index: 2;
  margin: 0 auto;
  display: block;
  background-image: url('http://i66.tinypic.com/sza7hj.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 850px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * *
  Start Party Landing Page
* * * * * * * * * * * * * * * * * * * * * * * * * * */
.startPartyBoxes {
  width: 550px;
  height: 80px;
  background-image: url('https://i.pinimg.com/736x/43/52/fa/4352fadc7fb8bd9cbbb979045b9bce74--background-geometric-background-designs.jpg');
  padding: 30px;
  color: #000;
  box-shadow: 5px 5px 5px lightgrey;
  margin: 0 auto;
  margin-top: 40px;
  text-decoration: none;
  text-align: center;
}

.startPartyBoxes input {
  font-size: 1em;
  width: 30%;
  padding: 4px 20px;
}

.startPartyTitles {
  background: #e6c954;
  border: 1px solid #e6c954;
  color: white;
  padding: 10px 20px;
  font-size: 190%;
  text-align: center;
  margin-bottom: -35px;
  font-weight: bold;
  float: right;
  -webkit-transform: rotate(-15deg) scale(1) translateX(37%) translateY(-15%);
          transform: rotate(-3deg) scale(1.5) translateX(-15%) translateY(50%);
}

.startPartyTitles:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ceb44c), to(#e6c954));
  background-color: #fff;
}

.partyCodeText {
  font-weight: bold;
  margin-right: 3px;
}

.startPartyWelcome {
  margin-bottom: 55px;
}

.hostPlaylistSelector {
  width: 50%;
  margin: 0 auto;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * *
  Dashboards
* * * * * * * * * * * * * * * * * * * * * * * * * * */
.hostPlaylistSelectorButton {
  text-decoration: none;
  text-align: center;
  background: #e6c954;
  color: white;
  padding: 20px 20px;
  font-size: 190%;
  text-align: center;
  font-weight: bold;
  margin: 45px auto;
  display: block;
}


.hostPlaylistSelectorButton:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ceb44c), to(#e6c954));
}

.infoBarHost, .infoBarGuest {
  background-color: rgba(47, 143, 202, 0.5);
  width: 100%;
  padding: 10px;
  opacity: .8;
}

.infoBarGuest {
  background-color: rgba(255, 215, 0, 0.5);
}

.infoBarHost:hover, .infoBarGuest:hover {
  background-image: url('http://i65.tinypic.com/mu766r.jpg');
}

.infoBarHost:hover .infoBarButton, .infoBarGuest:hover .infoBarButton {
  background-color: #000;
  border: 0px solid #000;
  color: white;
}

.infoBarButton {
  background-color: rgba(255, 255, 255, 0.5);
  border: 0px solid #fff;
  color: black;
  margin-left: 8px;
  font-weight: bold;
  font-size: 1em;
  padding: 8px 20px;
  float: right;
}

.spotifyPlayerContainer {
  width: 40%;
  display: inline-block;
  vertical-align: text-top;
  margin: 20px auto;
  margin-right: 15px;
  padding-right: 10px;
}

.innerSpotifyPlayer {
  margin: 0 auto;
  text-align: center;
}

.currentlyPlayingContainer {
  width: 40%;
  display: inline-block;
  vertical-align: text-top;
  margin: 20px auto;
  margin-right: 15px;
  padding-right: 10px;
}

.currentlyPlayingContainer img {
  max-width: 40%;
  max-height: 40%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.currentlyPlayingInner {
  margin: 0 auto;
  text-align: center;
}

.currentlyPlayingTitle {
  font-weight: bold;
  font-size: 1.2em;
}

.playlistContainer {
  width: 55%;
  display: inline-block;
  vertical-align: text-top;
}

.playButton {
  text-decoration: none;
  background: #e6c954;
  color: white;
  padding: 20px 20px;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  margin: 25px auto;
  display: block;
  border: 1px solid #e6c954;
}

.playButton:hover, .playlistEntryButton:hover, .addSongButton:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ceb44c), to(#e6c954));

}

/* * * * * * * * * * * * * * * * * * * * * * * * * * *
  Playlist List
* * * * * * * * * * * * * * * * * * * * * * * * * * */
.playlistListContainer {
  margin-top: -20px;
  margin-bottom: 35px;
}

.playlistSelectorEntry {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ceb44c), to(#e6c954));
  color: white;
  padding: 0px 10px;
  font-size: 105%;
  text-align: center;
  font-weight: bold;
  margin: 6px;
  display: inline-block;
}

.playlistSelectorEntry:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ceb44c), to(#ceb44c));
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * *
  Dashboard Playlist
* * * * * * * * * * * * * * * * * * * * * * * * * * */

.playlistEntry {
width: 100%;
background-color: rgba(51, 51, 51, .8);
margin: 22px;
height: 100%;
padding: 15px;
color: white;
overflow: auto;
}

.playlistEntry:hover {
  background-color: rgba(51, 51, 51, .9);
}

.playlistEntry:hover .playlistEntryButtonRemove {
  display: inline-block;
}

.playlistEntry img {
  max-width: 6%;
  max-height: 6%;
  float: left;
  margin-right: 10px;
  vertical-align: text-top;
}

.playlistEntry span {
  display: inline-block;
}


.playlistEntrySong {
  font-weight: bold;
}

.votesSection {
  float: right;
  color: white;
}

.playlistEntryVotes {
  margin-right: 10px;
}

.playlistEntryAddedBy {
  color: lightgrey;
}

.playlistEntryButton {
  width: 30px;
  height: 30px;
  background-color: #e6c954;
  color: white;
  border-radius: 50%;
  border: 1px solid #e6c954;
  margin-right: 5px;
  font-weight: bold;
  font-size: 1.2em;
}

.playlistEntryButtonRemove {
  width: 30px;
  height: 30px;
  background-color: rgba(139,0,0, 1);
  color: white;
  border-radius: 50%;
  border: 1px solid rgba(139,0,0, 1);
  margin-right: 5px;
  font-weight: bold;
  font-size: 1.2em;
  display: none;
  float: left;
}

.playlistEntryButtonRemove:hover {
  background-color: rgba(139,0,0, .8);
  border: 1px solid rgba(139,0,0, .8);
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * *
  Search / Add A Song
* * * * * * * * * * * * * * * * * * * * * * * * * * */
.searchContainer {
background-color: #e6c954;
overflow: auto;
}

.searchTitleArea {
  text-align: center;
  overflow: auto;
  padding-bottom: 20px;
}

.searchTitle {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: white;
}

.searchAreaResults {
  margin: 0 auto;
}

.searchEntry {
  background-color: rgba(255, 255, 255, .8);
  margin: 22px;
  height: 100%;
  padding: 15px;
  color: black;
  overflow: auto;
}

.searchEntry:hover {
  background-color: rgba(255, 255, 255, .9);
}

.searchEntry span {
  display: inline-block;
}


.searchEntry img {
  max-width: 9%;
  max-height: 9%;
  float: left;
  margin-right: 10px;
  vertical-align: text-top;
}


.addSongButton {
  background-color: #e6c954;
  color: white;
  border: 1px solid #e6c954;
  margin-right: 5px;
  font-weight: bold;
  font-size: 1em;
  padding: 8px 20px;
  float: right;
}

.searchButton {
  background-color: #333;
  border: 1px solid #333;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 1em;
  padding: 8px 20px;
}

.searchButton:hover {
  background-color: #000;
}

.searchTitleArea input {
  font-size: 1em;
  width: 55%;
  padding: 8px 20px;
  float: left;
  margin-left: 22px;
}

.playlistEntrySongTitle {
  font-weight: bold;
}

