/*Global*/
* {
  font-family: helvetica;
}

.app {
  max-width: 1300px;
  margin: auto;
}



/*Nav Bar*/
.header {
    background-color: #333;
    padding: 10px;
}

.header-title {
  vertical-align: middle;
  margin: auto;
  display: inline-block;
  margin-right: 10px;
}

.header-item {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    transform: translateY(5px);
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.header-item:hover {
    background-color: white;
    color: black;
}





/*Container*/
.container {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  width: 100%;
  height: 850px;
  background-image: url('http://i66.tinypic.com/sza7hj.png');
  background-repeat: no-repeat;
}

.container-inner {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 30px;
  z-index: 2;
}




/*Start Party Landing Page*/
.startPartyBoxes {
  width: 550px;
  height: 80px;
  background-image: url('https://i.pinimg.com/736x/43/52/fa/4352fadc7fb8bd9cbbb979045b9bce74--background-geometric-background-designs.jpg');
  padding: 30px;
  color: #000;
  box-shadow: 5px 5px 5px lightgrey;
  margin: 0 auto;
  margin-top: 40px;
  text-decoration: none;
  text-align: center;
}

.startPartyTitles {
  background: #e6c954;
  color: white;
  padding: 10px 20px;
  font-size: 190%;
  text-align: center;
  margin-bottom: -35px;
  font-weight: bold;
  float: right;
  -webkit-transform: rotate(-15deg) scale(1) translateX(37%) translateY(-15%);
          transform: rotate(-3deg) scale(1.5) translateX(-15%) translateY(50%);
}

.startPartyTitles:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ceb44c), to(#e6c954));
  background-color: #fff;
}

.partyCodeText {
  font-weight: bold;
  margin-right: 3px;
}

.startPartyWelcome {
  margin-bottom: 55px;
}




/*Dashboards*/
.hostPlaylistSelectorButton {
  width: 550px;
  text-decoration: none;
  text-align: center;
  background: #e6c954;
  color: white;
  padding: 20px 20px;
  font-size: 190%;
  text-align: center;
  font-weight: bold;
  margin: 45px auto;
  display: block;
}

.hostPlaylistSelectorButton:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ceb44c), to(#e6c954));
}



.infoBar {
  background-color: rgba(47, 143, 202, 0.5);
  width: 100%;
  padding: 10px;
  opacity: .8;

}


.switchUserTypeButton {
   border-top: 1px solid #000000;
   background: #000000;
   padding: 7px 14px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   margin: 5px;
   display: inline-block;
   float: right;
}

.spotifyPlayerContainer {
  width: 40%;
  display: inline-block;

}

.playlistContainer {
  width: 40%;
  display: inline-block;

}


/*Playlist List*/
.playlistSelectorEntry {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ceb44c), to(#e6c954));
  color: white;
  padding: 0px 10px;
  font-size: 105%;
  text-align: center;
  font-weight: bold;
  margin: 6px;
  display: inline-block;
}

.playlistSelectorEntry:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ceb44c), to(#ceb44c));
}



/*Playlist*/
.currentlyPlaying {  

}



.playlistEntry {

}

/*Search*/
.searchContainer {

}

.searchEntry {

}











/*WIP/Dead CSS/Unknown*/

.title {
  display: inline-block;
  font-family: 'verdana';
  font-size: 2em;
  font-weight: bold;
}


.playerStyle {
  display: 'inline-block';
  width: '50%';
  vertical-align: 'top';
  text-align: 'center';
  position: 'fixed';
}

.playListStyle {
  display: 'inline-block';
  width:'50%';
  float: 'right'
}

/*.playlistSelectorEntry {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   padding: 7px 14px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   margin: 5px;
   display: inline-block;
}*/


.playButtonStyle {
  width: '100%';
  margin: '16px';
  text-align: 'center';
}

.cardStyle {
  display: 'block';
  margin: '40px';
  width: '250px';
  margin: '15px';
  transition-duration: '0.3s';
  float:'left';
  padding: '2px';
}

.search {
  border-style: solid;
  border-color: #000000;
  border-width: 5px;
  height: 150px;
  width: 300px;
  text-align: center;
  display: inline-block;
  text-align: 'center';
  width: '100%';
  height: '100%';
}

.search .inside {
  width: '30%';
  display: 'inline-block';
}

.containerStyle {
  height: '300px';
}

.divStyle {
  text-align: 'center';
}

.buttonStyle {
  margin: '5px';
}

.indexStyle {
  position: 'relative';
  top: '-20px';
  left: '95px';
}




