.header {
  width: 100%;
  background: #00b8d4;
  color: white;
  font-family: 'verdana';
  margin: 5px;
  padding: 10px;
}

ul {
  list-style: none;
  display: inline-block;
}

.header li {
  font-size: 23px;
  display: inline-block;
  margin-right: 10px;

}

.title {
  display: inline-block;
  font-family: 'verdana';
  font-size: 2em;
  font-weight: bold;
}

.landingPageButtons {
  margin: 0 auto;
}

.hostPartyButton, .joinPartyButton{
  border-style: solid;
  border-color: #000000;
  border-width: 5px;
  height: 150px;
  width: 300px;
  text-align: center;
  display: inline-block;
}



.playerStyle {
  display: 'inline-block';
  width: '50%';
  vertical-align: 'top';
  text-align: 'center';
  position: 'fixed';
}

.playListStyle {
  display: 'inline-block';
  width:'50%';
  float: 'right'
}

.playButtonStyle {
  width: '100%';
  margin: '16px';
  text-align: 'center';
}

.cardStyle {
  display: 'block';
  margin: '40px';
  width: '250px';
  margin: '15px';
  transition-duration: '0.3s';
  float:'left';
  padding: '2px';
}
.search {
  text-align: 'center';
  width: '100%';
  height: '100%';
}

.search .inside {
  width: '30%';
  display: 'inline-block';
}

.containerStyle {
  height: '300px';
}

.divStyle {
  text-align: 'center';
}

.buttonStyle {
  margin: '5px';
}

.indexStyle {
  position: 'relative';
  top: '-20px';
  left: '95px';
}